* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
 font-family: 'Roboto', sans-serif;
 color: #808080;
}

/* Utilities */
.clearfix {
  content: '';
  display: table;
  clear: both;
}

h1,
h2,
h3 {
  font-weight: 400px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.float-left {
  float: left;
}

.w-50 {
  width: 50%;
}

/* menu */
.display-inline li{
  display: inline-block;
  padding: 0 10px;
}

.display-inline li:first-child {
  padding-left: 0;
}

.display-inline li:last-child {
  padding-right: 0;
}

/* button */
.btn {
  display: inline-block;
  min-width: 100px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 10px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
}

.btn-green {
  border: none;
  background: #7cbb02;
}

.btn-big {
  padding: 25px;
}

/* header */
header {
  background-color: #001A4F;
  height: 560px;
  background-image: url('./img/background-header.png');
  background-repeat: no-repeat;
  background-size: 1000px;
  background-position: right bottom;
}

.nav-header {
  line-height: 80px;
  text-transform: uppercase;
  font-size: 12px;
}

.nav-header li a {
  text-decoration: none;
  color: #fff;
}

.logo {
  width: 15%;
}

.logo img {
  vertical-align: middle;
}

.menu-center {
  width: 45%;
}

.menu-right {
  width: 40%;
  text-align: right;
}

.jumbotron {
  position: relative;
  height: 480px;
}

.text-jumbotron {
  position: absolute;
  color: #fff;
  top:50%;
  transform: translateY(-50%);
  ;
}

.text-jumbotron h1{
  line-height: 1.5;
  margin-bottom: 20px;
}

/* main */

/* efficiency */
.efficiency {
  background: #d3d3d3;
  text-align: center;
  color: #000;
  padding: 30px 0;
}

.efficiency h2 {
  margin-bottom: 10px;
}
